<?xml version="1.0"?>
<psalm
    errorLevel="7"
    resolveFromConfigFile="true"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xmlns="https://getpsalm.org/schema/config"
    xsi:schemaLocation="https://getpsalm.org/schema/config vendor/vimeo/psalm/config.xsd"
    findUnusedBaselineEntry="true"
    findUnusedCode="true"
>
    <projectFiles>
        <directory name="src" />
        <ignoreFiles>
            <directory name="vendor" />
        </ignoreFiles>
    </projectFiles>

    <plugins>
        <pluginClass class="Psalm\PhpUnitPlugin\Plugin"/>
    </plugins>

    <issueHandlers>
        <PossiblyUnusedMethod>
            <errorLevel type="suppress">
                <directory name="src/Query/Test"/>
                <directory name="src/Query/Transformer"/>
            </errorLevel>
        </PossiblyUnusedMethod>
        <PossiblyUnusedProperty>
            <errorLevel type="suppress">
                <directory name="src/Query/Test"/>
            </errorLevel>
        </PossiblyUnusedProperty>
        <PossiblyUnusedParam>
            <errorLevel type="suppress">
                <directory name="src/Query/Transformer"/>
            </errorLevel>
        </PossiblyUnusedParam>
    </issueHandlers>
</psalm>
